#bingopage{
    width:455px;
    margin:25 auto;
}


h1{
    font-family:arial;
    text-align:center;
    padding:3px;
    color:#211111;
    background-color:#EEEEEE;
}



td {
    font-family: arial;
    color: #333;
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 5px solid #000000;
    background-color: #F0F8FF;
    cursor: pointer;
}